<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="ServerIP" value="127.0.0.1" />
    <add key="ServerPort" value="8090" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ServerIDC" value="IDC30"/>
    <add key="ServerPIN" value="PIN30"/>
    <add key="ServerPTR" value="PTR30"/>
    <add key="ServerSIU" value="SIU30"/>

  </appSettings>
</configuration>